* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: #e4e4e7;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

body {
    background-color: #f8f8f8;
}
