.types {
  display: flex;
  align-items: center;
  justify-content: center;
}

.corrective {
  background-color: #FEE2E2;
  color: #7F1D1D;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  width: fit-content;
}

.preventive {
  background-color: #DCFCE7;
  color: #166534;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  width: fit-content;
}

.predictive {
  background-color: #fff3e0;
  color: #f57c00;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  width: fit-content;
}

.adaptive {
  background-color: #DBEAFE;
  color: #1E40AF;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  width: fit-content;
}