.header {
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 0 24px;
}

.image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
}